body {
    margin: 0;
    background: black;
    background-image: url('https://wallpaperaccess.com/full/1745055.jpg');
    background-blend-mode: lighten;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    color: white;
}